@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: inherit;
}

.slick-track {
	display: flex;
	align-items: center;
}

.slick-slide {
	padding: 0 0.4rem;
	outline: none;
}

@layer base {
	* {
		@apply text-base sm:text-lg;
	}

	::-webkit-scrollbar {
		@apply bg-light dark:bg-dark w-2;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-dark dark:bg-light;
	}

	html {
		font-family: "Quicksand", sans-serif;
		scroll-behavior: smooth;
		scroll-padding: 5rem;
	}

	body {
		@apply bg-light text-black dark:bg-dark dark:text-white;
		min-height: 100vh;
	}

	img,
	picture,
	svg,
	video {
		display: block;
		max-width: 100%;
	}

	h1 {
		@apply text-2xl xs:text-3xl sm:text-5xl md:text-6xl;
	}

	h2 {
		@apply text-lg xs:text-xl sm:text-2xl md:text-3xl;
	}

	h3 {
		@apply text-xl;
	}

	span {
		@apply text-sm sm:text-base;
	}
}

@layer components {
	.btn-secondary {
		@apply bg-secondary text-light border border-secondary font-semibold w-fit rounded-xl px-2 py-1 hover:bg-light hover:text-secondary dark:text-black dark:hover:bg-dark dark:hover:text-secondary transition-colors;
	}

	.categories__container::-webkit-scrollbar {
		@apply hidden;
	}

	.course {
		@apply relative flex-col rounded-lg bg-dark/5 dark:bg-light/5;
	}

	.course__overlay {
		@apply pointer-events-none flex flex-col opacity-0 absolute bg-light dark:bg-dark top-0 bottom-0 left-[10%] right-0 rounded-r-md shadow-sm shadow-gray-500 dark:shadow-gray-700;
		transition: opacity 0.2s ease-in-out;
	}

	.course:hover .course__overlay {
		@apply opacity-100 pointer-events-auto;
	}

	.company-name {
		@apply text-2xl font-bold;
	}

	.curve-bg {
		background: url(curveLine.svg) no-repeat right top;
	}

	.picture {
		@apply aspect-square;
		background: url(assets/me.png) no-repeat top;
		scale: 1.2;
		background-size: cover;
		border-radius: 50%;
	}

	.project {
		@apply rounded-lg relative;
		flex-basis: 32rem;
	}

	.project:hover .project__image {
		@apply filter-none;
		scale: 1.1;
	}

	.project__image {
		@apply rounded-lg;
		filter: grayscale(100%);
		transition: scale 0.2s ease-in;
	}

	.section {
		@apply mx-0 sm:mx-4 md:mx-8 lg:mx-16 2xl:mx-48 p-4;
	}

	.skill__container {
		@apply relative;
	}

	.skill__name {
		@apply bg-light/80 dark:bg-dark/80 text-[.75rem] sm:text-base md:text-lg text-black dark:text-light px-2 py-1 rounded-lg font-bold opacity-0 absolute z-50 top-[50%] left-[50%] translate-y-[-50%] translate-x-[-50%] shadow-sm shadow-black;
		transition: opacity 0.2s ease;
	}

	.skill__container:hover .skill__name {
		@apply opacity-100;
	}

	.social-media-button {
		@apply w-6;
	}
}

@layer utilities {
	.icon {
		@apply hover:scale-110 transition-transform;
	}

	.pre-line {
		@apply relative pl-8 sm:pl-12;
	}

	.pre-line::before {
		@apply bg-secondary w-4 sm:w-8;
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		height: 0.1rem;
	}
}